{% extends 'base.html.twig' %}

{% block header %}
    <div class="jumbo">
        <div class="container">
            <div class="logo-container">
                <div class="logo"><img src="{{ asset("img/logo-unam.png") }}"></div><div class="logo"><img src="{{ asset("img/ccm-logo.png") }}"></div>
            </div>
            <h1>Centro de Ciencias Matemáticas<br>UNAM Campus Morelia</h1>
            <h2 class="my-5"><strong>Dr. Daniel Juan Pineda</strong><br>Director</h2>
            <h3>4to Informe de Actividades<br>Segundo Periodo</h3>
        </div>
    </div>

{% endblock %}


{% block body %}


    <h1 class="display-4 font-weight-bold mt-5">
        Investigación
    </h1>
    <p class="lead font-weight-bold">Lineas de Investigación Institucionales y Proyectos de Investigación</p>
    <div class="row my-5">
        <div class="col-md-6 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>29</strong></h1> <span class="info-text">Académicos</span>
        </div>
        <div class="col-md-6 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>23</strong></h1> <span class="info-text">SNI</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table>
                <tr>
                    <td class="text-center"><span class="info-number">23</span></td><td><span class="info-text-secondary">Investigadores</span></td>
                </tr>
                <tr>
                    <td class="text-center"><span class="info-number">1</span></td><td><span class="info-text-secondary">Investigador Emérito</span></td>
                </tr>
                <tr>
                    <td class="text-center"><span class="info-number">6</span></td><td><span class="info-text-secondary">Técnicos Académicos</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>8</strong></h1> <span class="info-text">Proyectos de Investigación</span>
        </div>
    </div>

    <div class="my-5"><a href="{{ path('academicos') }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Ver detalle</a></div>

    <h1 class="display-4 font-weight-bold mt-5">Producción Primaria</h1>
    <div class="row my-5">
        <div class="col-md-12 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>150</strong></h1> <span class="info-text">Artículos de Investigación</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
            <table class="row">
                <tr>
                    <td class="text-center"><span class="info-number">11</span></td><td><span class="info-text-secondary">Artículos de Divulgación</span></td>
                </tr>
                <tr>
                    <td class="text-center"><span class="info-number">4</span></td><td><span class="info-text-secondary">Libros</span></td>
                </tr>
                <tr>
                    <td class="text-center"><span class="info-number">7</span></td><td><span class="info-text-secondary">Capítulos de Libro</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <div id="chart_div"  style="width: 100%px;"></div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>90</strong></h1> <span class="info-text">Revistas</span>

        </div>
        <div class="col-md-6 col-sm-12">
            <h1 class="display-2 d-inline-block"><strong>24</strong></h1> <span class="info-text">Países</span>
        </div>

    </div>
    <div class="my-5"><a href="{{ path('publicaciones') }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Ver detalle</a></div>


{% endblock %}
